@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#010411, #134755);
}

div#parallelogram {
    background-image: linear-gradient(#0D4FFF, #0DFFAA);
    width: 1000px;
    height: 720px;
    max-width: 70vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    transform: skew(6deg, 3deg);
    position: absolute;
    z-index: -1;
}

section {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 30px 5px;
    box-shadow: 5px 5px 15px;
    max-width: 70vw;
}

section h1 {
    padding: 40px 10px;
    text-align: center;
}

fieldset {
    border: none;
}

fieldset:nth-child(2) {
    display: flex;
}

fieldset:nth-child(4) {
    display: flex;
    padding-top: 20px;
}

fieldset:nth-child(5) {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 0px 10px;
}

.container input {
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 10px 0 10px;
}

.container {
    position: relative;
}

.container label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #9d9d9d;
    position: absolute;
    line-height: 70px;
    top: 10px;
    left: 20px;
    user-select: none;
    pointer-events: none;
}

.container input:focus~label, .container input:valid~label {
    left: 20px;
    top: -10px;
    color: #00CBFF;
}

#check {
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}

#check input {
    width: 25px;
    height: 25px;
    margin: auto 0;
}

#check label {
    margin: auto 10px;
    color: #555;
    transition: 0.5s;

}

#check input:checked~label, #check input:valid~label {
    color: #00CBFF;
}

button {
    margin: 40px 0;
    margin-left: 10px;
    width: calc(50% - 10px);
    height: 70px;
    background: #00CBFF;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s linear;
}

button:hover {
    background-color: #0D4FFF;
    opacity: 0.85;
}

form a {
    text-decoration: none;
    font-size: 16px;
    color: #555;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 50%;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

form a:hover {
    color: #111;
}

section img {
    width: 250px;
    height: 250px;
    margin: auto 40px;
}

@media only screen and (max-width: 1280px) {
    form a {
        padding-left: 60%;
    }
}

@media only screen and (max-width: 1080px) {
    div#parallelogram {
        height: 690px;
    }

    form a {
        padding-left: 0%;
    }

    section img {
        display: none;
    }
}

@media only screen and (max-width: 510px) {
    div#parallelogram {
        display: none;
    }

    section {
        min-width: 95vh;
    }

    form {
        width: 100%;
    }

    form a {
        padding-left: 0%;
    }

    fieldset:nth-child(2), fieldset:nth-child(4), fieldset:nth-child(5) {
        flex-direction: column;
    }

    fieldset:nth-child(4) {
        padding: 0px;
    }

    div#check {
        width: 100%;
    }

    button {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    section {
        min-width: 50vh;
    }

    form a {
        padding-left: 0%;
    }
}

@media only screen and (max-width: 375px) {
    section {
        min-width: 45vh;
    }

    form a {
        padding-left: 0%;
    }
}

@media only screen and (max-width: 280px) {
    section {
        min-width: 40vh;
    }

    form a {
        padding-left: 0%;
    }
}