@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

header>h1 {
    font-family: 'Passion One', cursive;
    letter-spacing: 3px;
    font-size: 600%;
    font-variant: small-caps;
}

header>p {
    font-size: 150%;
}

body {
    text-align: center;
}

section {
    font-family: 'Sriracha', cursive;
    margin: auto;
    padding: 50px;
    font-size: 46px;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

section>p {
    display: inline-block;
    padding: 15px;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.500);
}

section#background1 {
    background: black url(../image/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 10px black;
    border: 1px solid black;
}

section#background2 {
    background: black url(../image/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    color: white;
    border: 1px solid black;
}


@media screen and (max-width: 600px) {
    header {
        padding-top: 10px;
        padding-bottom: 30px;        
    }
    
    section {
        font-size: 130%;
    }
}

@media screen and (max-width: 300px) {
    header {
        font-size: 70%;
        padding-top: 10px;
        padding-bottom: 30px;        
    }
    
    section {
        font-size: 100%;
    }
}
