@charset "UTF-8";

@font-face {
    font-family: 'bellfoods';
    src: url('../fonts/Bellfoods.otf') format('opentype');
    font-weight: normal;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url(../images/compact-back.png) right center no-repeat fixed;
    background-size: cover;
}

header {
    width: 100%;
    height: 7vh;
    background: rgba(0, 0, 0, 0.299);
    text-align: center;
    padding-bottom: 4%;
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    margin-top: 4%;
    padding-left: 2%;
    color: white;
    font-family: 'bellfoods';
}

.aligncenter {
    text-align: center;
}

main {
    background-color: #f0f0f085;
    border: 1px solid black;
    box-shadow: 0px 0px 15px black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}

article>img {
    border: 3px solid black;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article#space {
    padding: 2.5%;
}

aside {
    margin: 5%;
    font: bold 2rem cursive;
    color: black;
}

article>h1 {
    font-size: 5rem;
    text-shadow: 0px 0px 10px gray;
    font: bold 5rem cursive;
    margin-bottom: 5%;
}

aside>h2 {
    font-size: 3rem;
    margin-bottom: 5%;
    text-shadow: 0px 0px 10px gray;
}

aside>p {
    margin: 3%;
    text-shadow: 0px 0px 10px gray;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    font: 2rem 'bellfoods';
    letter-spacing: 0.2rem;
}

a {
    color: white;
}

.button {
    text-align: center;
    margin-top: 10%;
}

.button>a {
    background-color: gray;
    border: 2px solid black;
    padding: 25px 50px;
    border-radius: 50px;
    font: bold 1rem cursive;
}

.button>a:hover {
    background-color: lightgray;
    color: black;
}

@media screen and (max-width: 1000px) {

    article>img {
        width: 600px;
    }

    .button {
        margin-bottom: 7%;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin-left: 1%;
        margin-right: 1%;
    }

    article>img {
        width: 300px;
    }
}

@media screen and (max-width: 450px) {

    .logo {
        font-size: 1.5rem;
    }

    article>h1 {
        font-size: 3rem;
    }

    aside>h2 {
        font-size: 2rem;
    }

    aside>p {
        font-size: 1.5rem;
    }

    article>img {
        width: 270px;
    }

    .button {
        margin-bottom: 7%;
    }
}

@media screen and (max-width: 300px) {

    .logo {
        font-size: 1rem;
    }

    article>h1 {
        font-size: 3.3rem;
    }

    article>h2 {
        font-size: 3rem;
    }

    article>img {
        width: 200px;
    }

    .button {
        margin-bottom: 10%;
    }
}

