@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 60%;
    color: white;
}

body {
    background: linear-gradient(to right, #2c2c2c81, #0000007e), url(../image/wallpaper.jpg) center center no-repeat fixed;
    background-size: cover;
    background-position-y: 0px;
}

header {
    width: 100%;
    height: 7vh;
    background: rgba(0, 0, 0, 0.299);
    text-align: center;
    padding-bottom: 4%;
    font-family: cursive;
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
    margin-top: 3.5%;
    padding-left: 2%;
    font-family: 'Rowdies', cursive;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 7%;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 2rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a::before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: darkviolet;
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover::before {
    width: 100%;
}

section {
    background: rgba(0, 0, 0, 0.299);
    width: 1000px;
    margin: auto;
    height: auto;
    padding: 50px;
}

section>h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 5%;
    color: darkviolet;
    text-shadow: 1px 1px 1px violet;
    font-family: cursive;
}

section>h2, div>h2 {
    text-shadow: 1px 1px 1px black;
    text-align: left;
    font-size: 3em;
    margin-left: 5%;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5%;
}

section>p {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 10%;
}

.htmltext {
    color: #D44C47;
    font-size: 5em;
    margin: 5% 0% 5% 5%;
    text-align: left;
    font-family: cursive;
}

.csstext {
    color: #337EA9;
    font-size: 5em;
    margin: 5% 0% 5% 5%;
    text-align: left;
    font-family: cursive;
}

.jstext {
    color: #CB912F;
    font-size: 5em;
    margin: 5% 0% 5% 5%;
    text-align: left;
    font-family: cursive;
}

.guide {
    border: 1px solid black;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.100), rgba(211, 211, 211, 0.100));
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 0px 0px 5px white;
}

.list {
    font-size: 3em;
    text-align: left;
    margin-left: 10%;
}

.list>li {
    padding-bottom: 50px;
}

.space {
    margin-top: 10%;
}

.tech {
    margin-top: 5%;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

a {
    color: white;
}

@media screen and (max-width: 1440px) {
    
    .logo {
        margin-top: 5.1%;
    }
}

@media screen and (max-width: 1280px) {
    
    header {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 25%;
    }

    .logo {
        font-size: 5rem;
    }

    .menu-content {
        display: block;
        font-size: 2rem;
    }

    .menu-content .list-itens {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .list-itens>li {
        border: 1px solid white;
        border-radius: 10px;
    }

    .content {
        border: 1px solid white;
    }
}

@media screen and (max-width: 1024px) {

    header {
        padding-bottom: 60%;
    }

    .menu-content .list-itens {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .list-itens>li {
        border: 1px solid white;
        background-color: gray;
        padding: 2%;
        margin: 3% 10% 0px 10%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1000px) {

    section {
        width: 900px;
        padding: 20px;
    }
}

@media screen and (max-width: 830px) {
    
    header {
        margin-bottom: 1%;
    }
    
    section {
        width: 810px;
        padding: 20px;
    }
}

@media screen and (max-width: 770px) {
    
    header {
        display: none;
    }

    section {
        width: 760px;
    }
}

@media screen and (max-width: 550px) {

    header {
        display: none;
    }

    section {
        width: 530px;
        padding: 20px;
    }
}

@media screen and (max-width: 420px) {

    section {
        width: 410px;
    }

    section>h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 400px) {
    
    section {
        width: 390px;
    }
}

@media screen and (max-width: 380px) {

    section {
        width: 370px;
    }
}

@media screen and (max-width: 370px) {

    section {
        width: 350px;
    }
}

@media screen and (max-width: 280px) {

    body {
        width: 100%;
    }

    section {
        width: 280px;
        margin: auto;
        padding: 0%;
    }

    section>h1 {
        font-size: 3rem;
    }

    .guide {
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
